doctype html
html
  head
    title= title
    style(type='text/css').
      * {
        box-sizing: border-box;
      }

      body {
        background-color: white;
      }

      #main {
        margin: 2px;
        padding: 20px 10px;
        border-radius: 2px;
        border: 1px solid #DCDCDC;
      }

      header {
        margin-bottom: 10px;
      }

      img {
        margin-right: 2px;
        display: inline-block;
        vertical-align: middle;
      }

      h1 {
        font-size: 20px;
        display: inline-block;
        vertical-align: middle;
        color: rgba(245, 158, 11);
      }

      .link {
        color: white;
        padding: 10px;
        display: block;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        background-color: rgba(245, 158, 11);
      }

      .mb-md {
        margin-bottom: 10px;
      }

      .mb-lg {
        margin-bottom: 20px;
      }

      .mt-lg {
        margin-top: 20px;
      }
    
  body
    header 
      img(src="https://foodmeng.netlify.app/photos/app_logo.png", width="30" height="30")
      h1 DailyNeeds 

    div#main  
      block content
