
extends email-layout.pug

block content
  div.mb-lg Hello #{name}, you have to verify your email to activate your account.
  a.link(href=`${clientUrl}email-verification?token=${token}`) Click this link to verify your email
