
extends email-layout.pug

block content
  div.mb-lg Your #{type} transaction request has been recieved, please wait while we process it.
  a.link(href=`${clientUrl}/transaction/${id}`) View transaction.
