
extends email-layout.pug

block content
  if store
    div.mb-lg You have a new order to fulfill.
  else if deliveryFirm 
    div.mb-lg You have a new order to deliver
  else
    div.mb-lg Your order have been placed, please wait for while it's being processed.
  a.link(href=`${clientUrl}/order/${id}`) View order.
